#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Base */

#define b 0

/* Navigation */

#define n 1

/* Symbols */

#define s 2

/* Numbers */

#define u 3

/* Mouse */

#define m 4

/* Snipe */

#define snp 5

/* Drag Scroll */

#define drg 6

/ {
    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <b m>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <8>;
    };

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <snp>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <12>;
    };

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <drg>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        scale-divisor = <6>;
        bindings = <&ib_wheel_scaler 1 8>;
    };

    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };

    behaviors {
        hl: homewrow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "tap-preferred";
        };

        hr: homewrow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "tap-preferred";
        };
    };

    chosen { zmk,matrix_transform = &five_column_transform; };

    combos {
        compatible = "zmk,combos";

        combo_capsword {
            timeout-ms = <40>;
            key-positions = <2 7>;
            bindings = <&caps_word>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        combo_capslock {
            timeout-ms = <40>;
            key-positions = <1 8>;
            bindings = <&kp CAPS>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        combo_lang {
            bindings = <&kp LG(SPACE)>;
            key-positions = <13 12>;
        };
    };

    macros {
        vs_def: vs_go_to_definition {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &kp F12>;
            label = "VS_GO_TO_DEFINITION";
        };

        vs_impl: vs_go_to_implementation {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &kp LC(F12)>;
            label = "VS_GO_TO_IMPLEMENTATION";
        };

        vs_refs: vs_refs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &kp LC(K) &kp R>;
            label = "VS_REFS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
  &kp Q       &kp W       &kp E         &kp R        &kp T            &kp Y    &kp U        &kp I        &kp O       &kp P
  &hl LGUI A  &hl LALT S  &hl LCTRL D   &hl LSHFT F  &kp G            &kp H    &hr RSHFT J  &hr RCTRL K  &hr RALT L  &hr RGUI SEMICOLON
  &lt 4 Z     &kp X       &kp C         &kp V        &kp B            &kp N    &kp M        &kp COMMA    &kp DOT     &lt 4 SLASH
                          &lt 3 ESCAPE  &lt 2 SPACE  &kp BACKSPACE    &kp TAB  &lt 1 ENTER
            >;
        };

        Numbers {
            bindings = <
  &trans        &kp F7           &kp F8        &kp F9         &kp F12    &trans  &kp N7        &kp N8        &kp N9       &trans
  &kp LEFT_GUI  &hl LEFT_ALT F4  &hl LCTRL F5  &hl LSHIFT F6  &kp F11    &trans  &hr RSHFT N4  &hr RCTRL N5  &hr RALT N6  &kp LEFT_GUI
  &trans        &kp F1           &kp F2        &kp F3         &kp F10    &trans  &kp N1        &kp N2        &kp N3       &kp N0
                                 &trans        &trans         &kp DEL    &trans  &trans
            >;
        };

        Symbols {
            bindings = <
  &trans         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GRAVE          &trans    &trans  &kp AMPS   &kp STAR   &kp PLUS   &kp TILDE
  &kp PIPE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE   &trans    &trans  &kp DLLR   &kp PRCNT  &kp CARET  &kp MINUS
  &kp BACKSLASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOUBLE_QUOTES  &trans    &trans  &kp EXCL   &kp AT     &kp HASH   &kp UNDER
                                       &trans                 &trans             &trans    &trans  &kp EQUAL
            >;
        };

        Navigation {
            bindings = <
  &trans    &trans       &trans         &trans     &trans    &trans      &trans      &trans     &trans    &trans
  &kp LEFT  &kp UP       &kp DOWN       &kp RIGHT  &trans    &trans      &kp RSHFT   &kp RCTRL  &kp RALT  &kp RGUI
  &kp HOME  &kp PAGE_UP  &kp PAGE_DOWN  &kp END    &trans    &trans      &trans      &trans     &trans    &trans
                         &trans         &trans     &trans    &kp K_PREV  &kp K_NEXT
            >;
        };

        Mouse {
            bindings = <
  &trans  &trans   &trans     &trans     &trans       &trans     &trans     &trans  &trans  &trans
  &trans  &vs_def  &vs_impl   &vs_refs   &trans       &trans     &trans     &trans  &trans  &trans
  &trans  &mo 5    &mo 6      &trans     &trans       &trans     &trans     &trans  &trans  &trans
                   &mkp RCLK  &mkp LCLK  &mkp MCLK    &mkp MCLK  &mkp LCLK
            >;
        };

        Snipe {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans
            >;
        };

        DragScroll {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans
            >;
        };
    };
};
